{% extends 'admin/base.html.twig' %}


{% block main %}

    {#    La boucle permet d'afficher l'intégralité des articles #}
    {% for article in lastArticles %}
        <div class="description_bar">
            <article class="main_page">
               <h1>{{ article.title }}</h1>
               <p>{{ article.content }}</p>

            </article>
            <div class="lien">
                <a href="{{ path ('admin_update_article',{'id':article.id }) }}">Modifier cet article </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}



