{% extends 'admin/base.html.twig' %}

{% block header %}
    <p>ICI SE TROUVE LE HEADER</p>
{% endblock %}

{% block main %}
    <p>BIENVENUE AU RETRO GAMING BAR ADMIN</p>
{% endblock %}

{% block footer %}
    <footer><p>ICI SE TROUVE LE FOOTER</p></footer>
{% endblock %}